DB_CONNECTION=mysql
DB_HOST=db
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=fin
DB_PORT=3306
JWT_SECRET="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtJsUAtPbw7WMXPri2LEMBD0Q4tw/p6kqaBxze69uN5ErmYATK50VKrHXpjeV3mf7Q2DMrmXH9WgI9ny1FlvE3wu5+du2vBdg5ydbpwZG72MwvQ/4iz/IkemzpRxiIXC54qjp9pgu0xsY6jWAyLv2p5pzn00dX5gh//ZDRfWmyqXFWvO9mHiNB1rDwvHtPBQdBhnp0j1n8GqsftxFEqhZwogT+mz70HC2UtBRNWL2mTVZ1mP2V8BJq/Ykv0tokCKZj8abnMeaIiS0GIeJwl4iTYn4hD4s7qcMGmVx4ka9sGSIgnEDBJl8WbEI+1XMtwjuWPHcWoHyqwMqYIXRMSe97wIDAQAB\n-----END PUBLIC KEY-----"

KAFKA_CLIENT_ID=nest
KAFKA_HOST=host.docker.internal:9094
KAFKA_USE_SSL=false
KAFKA_CONSUMER_GROUP_ID=

KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
